@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

body{
    font-family: "Inter", sans-serif;
}
.span{
    font-family: 'Miama', sans-serif;
    color: rgb(255, 255, 255);
       font-size: 150px;
       font-weight: 400;
       background: none;
       line-height: 12px;
}

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    
}

.first-section{
    margin: 0 auto;
      border: 2px solid black;
      max-width: 1440px;
      min-height: 770px;
      background-image: linear-gradient(to bottom, #13090f, #171418, #1a1b1f, #1f2225, #26292a, #262929, #272829, #272828, #202121, #191a1a, #111313, #060a0a);
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    /* color: aliceblue; */
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 10px;
   gap: 3rem;
}
p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
}
h3{
    color: rgb(230, 83, 60);
     font-family: Inter;
        font-size: 36px;
       font-weight: 800;
}
.btn{
    background-color: rgb(230, 83, 60);
    color: white;
    border: none;
    border-radius: 2.9rem;
    width: 92px;
    height: 37px;
    font-size: 18px;
    font-weight: 600;
}
.hum-bar{
    color: white;
    display: none;
}
/* second-container-style */
.second-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.title-part{
   width: 620px;
   height: 430px;
   margin-right: 270px;
}
.title-part h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.9rem;
    font-weight: 900;
}
.title-part p{
     color: rgba(255, 255, 255, 0.5);
     font-family: Inter;
     font-size: 16px;
     font-weight: 400;
     padding: 1.5rem 0;
     margin: auto;
}
.btn-section{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.Join-btn{
    border: none;
    color: white;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    position: static;
    width: 200px;
    height: 50px;
    
}
#input{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(26, 25, 25);
}


.img-part{
    width: 350px;
    height: 580px;
    margin-right: 40px;

}
.img-part img{
    width: 100%;
    height: 100%;
}
.second-container img{
    width: 100%;
    height: 100%;
}
.btn-primary{
    position: absolute;
    width: 208px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    color: white;
    font-size: 2rem;
    position: absolute;
    margin-left: -120px;
    margin-top: -165px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-no{
    width: 68px;
    height: 24px;
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    margin-right: 30px;
}
#under-p{
    width: 108px;
    height: 24px;
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
}
#color{
    border: 2px solid orangered;
    background-color:  rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 3rem;
}
.btn-primary-two{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    position: absolute;
    margin-left: -120px;
    margin-top: 130px;
}
.btn-primary-two p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
   font-size: 13px;
   font-weight: 400;
}
/* second-section-styles */
.second-section{
    margin:0 auto;
    border: 2px solid black;
    background-color: #060a0a;
    max-width: 1440px;
    height: 700px;
    
}

  .card-container{
    /* border: 2px solid burlywood; */
   height: 550px;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 100px;
  }
  .card-title{
   margin-bottom: 58px;
  }
.card-title h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
.card-title p{
    /* border: 2px solid purple; */
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-left: 300px;
    margin-top: 14px;
}
.img-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
}
.img-card img{
    border-radius: 10rem;
}
.img-card h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 10px;
}
#img-p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top:2px ;
}
/* third-section style */

.third-section{
    width: 1440px;
    height: 571px;
    margin: 0 auto;
    border: 2px solid black;
    background: black;
}
.run-extra{
    /* border:2px solid sandybrown ; */
    width: 776px;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.run-extra{
      border-radius: 18px;
      background: rgb(34, 34, 34);
      width: 90%;
      margin: 5rem auto;
      height: 400px;
}
.run-container{
    width: 470px;
   height: 300px;
   margin-left: -10px;
}
.run-container h1{
    color: white;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
}
.run-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.run-container-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
   font-family: Inter;
    font-size: 18px;
   font-weight: 600;
   margin-top: 30px;
   border: none;
}
.img-container{
    margin-left: 30px;
    width: 400px;
    height: 320px;
}
.img-container img{
    border-radius: 1.1rem;
    width: 100%;
    height: 100%;
    
}
#img-none{
    display: none;
}



/* challange-part */
.challenge-section{
    margin:0 auto;
    border: 2px solid black;
    background-color: #060a0a;
    max-width: 1440px;
    height: 620px;
}
.challenge-container{
    height: 450px;
   display: flex;
   flex-direction: column;
   text-align: center;
   /* margin-top: 100px; */
}
.challenge-card-title{
    margin-bottom: 58px;
}

.challenge-card-title h2{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
}
.challenge-card-title p{
  /* border: 2px solid purple; */
  width: 671px;
  height: 48px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-left: 310px;
  margin-top: 14px;
}

.challenge-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.challenge-card img{
    width: 90%;
    border-radius: 12px;
}
.challenge-card p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-top: 10px;
}
/* four-section-styles */
    .four-section{
        margin:0 auto;
    border: 2px solid black;
    background-color: #060a0a;
    max-width: 1440px;
    min-height: 740px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }
    .calculator{
        height: 120px;
        width: 650px;
        margin-bottom: 60px;
    }
    .calculator h1{
        color: rgb(255, 255, 255);
     font-family: Inter;
      font-size: 48px;
      font-weight: 900;
    }
    .calculator p{
        color: rgba(255, 255, 255, 0.5);
       font-family: Inter;
         font-size: 14px;
        font-weight: 400;
    }
    .BMI-calculator{
        /* border: 2px solid red; */
        margin-top: 0;
        margin-bottom: 90px;
        width: 1440px;
           min-height: 487px;
           background: rgb(34, 34, 34);
    }
    .bmi-container{
        margin: 52px auto;
        width: 1060px;
        height: 386px;
        /* border: 1px solid white; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bmi-table{
        width: 577px;
        height: 386px;
    }
    .Bmi-form{
        width: 577px;
        height: 386px;
        margin: 10px auto;
        /* border: 1px solid yellow; */
    }
    .bmi-table h1{
        color: rgb(255, 255, 255);
       font-family: Inter;
        font-size: 28px;
       font-weight: 900;

    }
    table{
        border-collapse: collapse;
        width: 310px;
      height: 216px;
      margin-top: 52px;
       }
        td{
            border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 5px;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
         font-size: 14px;
         text-align: center;
        
        }
        th{
            border: 1px solid rgba(255, 255, 255, 0.1);
           padding: 10px;
           color: rgb(255, 255, 255);
             font-family: Inter;
             font-size: 16px;
             font-weight: 500;
        }
        input{
            width: 250px;
             height: 48px;
             border-radius: 8px;
             background: rgba(255, 255, 255, 0.1);
             border: none;
             padding: 12px 40px 12px 20px;
        }
        .one-input{
            margin-top: 30px;
        }
        .two-input{
            margin-top: 10px;
        }
        .Bmi-form h1{
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 28px;
            font-weight: 900;
        }
        .Bmi-form p{
            color: rgba(255, 255, 255, 0.5);
             font-family: Inter;
          font-size: 14px;
            font-weight: 400;
            margin-top: 14px;
        }
        select{
            width: 250px;
            height: 48px;
            margin-top: 12px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
           color:  rgba(255, 255, 255, 0.5);
          font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        border: none;
        padding: 12px 40px 12px 20px;
        }
        .select{
            width: 510px;
            margin-top: 12px;
            
        }
        
        /* five-section-style */

        /* five-section */
      .our-team{
        max-width: 1440px;
        min-height: 850px;
        margin: 0 auto;
        background-color: black;
      }
    
    .team-tittle{
       border: 2px solid black;
       text-align: center;
       
    }
    .team-tittle h1{
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 900;
       margin-bottom:10px;
    }
    .team-tittle p{
       color: #FFFFFF80;
       font-size: 16px;
       font-weight: 400;
       width: 671px;
       height: 48px;
       text-align: center;
       margin-left: 400px;
      
    
    }
    
    .team-image{
        max-width: 100%;
        height: 650px;
        
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 17px;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        padding-top: 20px;
        padding-left: 60px;
        /* padding-right: 5px; */
        padding-bottom: 5px;
    
        
    }
    .team-image-1{
        width: 350px;
        height: 270px;
        
        background-image: url(../images/trainer1.png);
        background-size: cover;
        border-radius: 17px;
        opacity: 0.9;
    }
    .team-image-1 h1{
        color: #FFFFFF;
        font-size: 20px;
        background: none;
        margin-top: 200px;
        margin-left: 10px;
    }
    .team-image-1 p{
       color:#FFFFFF80;
       font-size: 17px;
       margin-left: 30px;
       font-weight: 300;
       margin-top: 5px;
    }
    .team-image-2{
        width: 350px;
        height: 270px;
        background-image: url(../images/trainer2.png);
        background-size: cover;
        border-radius: 17px;
        opacity: 0.9;
    }
    .team-image-2 h1{
        color: #FFFFFF;
        font-size: 20px;
        background: none;
        margin-top: 200px;
        margin-left: 10px;
    }
    .team-image-2 p{
       color: #FFFFFF80;
       font-size: 17px;
       background: none;
       margin-left: 10px;
       font-weight: 300;
       margin-top: 5px;
    }
    .team-image-3{
        width: 350px;
        height: 270px;
        
        background-image: url(../images/trainer3.png);
        background-size: cover;
        border-radius: 17px;
        opacity: 0.9;
    }
    .team-image-3 h1{
        color: #FFFFFF;
        font-size: 20px;
        margin-top: 200px;
        margin-left: 10px;
    }
    .team-image-3 p{
       color: #FFFFFF80;
       font-size: 17px;
       background: none;
       margin-left: 10px;
       font-weight: 300;
       margin-top: 5px;
    }
    .team-image-4{
        width: 350px;
        height: 270px;
        
        background-image: url(../images/trainer4.png);
        background-size: cover;
        border-radius: 17px;
        opacity: 0.9;
    }
    .team-image-4 h1{
        color: #FFFFFF;
        font-size: 20px;
        margin-top: 200px;
        margin-left: 10px;
    }
    .team-image-4 p{
       color: #FFFFFF80;
       font-size: 17px;
       background: none;
       margin-left: 10px;
       font-weight: 300;
       margin-top: 5px;
    }
    .team-image-5{
        width: 350px;
        height: 270px;
        
        background-image: url(../images/trainer5.png);
        background-size: cover;
        border-radius: 17px;
        opacity: 0.9;
    }
    .team-image-5 h1{
        color: #FFFFFF;
        font-size: 20px;
        margin-top: 200px;
        margin-left: 10px;
    }
    .team-image-5 p{
       color: #FFFFFF80;
       font-size: 17px;
       background: none;
       margin-left: 10px;
       font-weight: 300;
       margin-top: 5px;
    }
    .team-image-6{
        width: 350px;
        height: 270px;
        
        background-image: url(../images/trainer6.png);
        background-size: cover;
        border-radius: 17px;
        /* background-blend-mode: overlay; */
        opacity: 0.9;
    }
    .team-image-6 h1{
        color: white;
        font-size: 20px;
        background: none;
        margin-top: 200px;
        margin-left: 10px;
        opacity: none;
        font-weight: 700;
    }
    .team-image-6 p{
       color:  #fffafa80;
       font-size: 17px;
       background: none;
       margin-left: 10px;
       font-weight: 300;
       margin-top: 5px;
    }



    /* last-section-styles */
    .last-section{
        max-width: 1440px;
        margin: 0 auto;
        min-height: 300px;
        border: 2px solid black;
        background: rgb(34, 34, 34);
    }


    .fitness{

        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .fitness-tittle{
        width: 40%;
        min-height: 200px;
        padding-left: 14px;
    }
    .fitness-tittle h1{
        background: none;
       color: #E6533C;
       font-size: 70px;
       font-weight: 800;
    
    }
    .fitness-tittle p{
        color:#FFFFFF80;
        font-weight: 400;
        font-size: 16px;
        margin-top: 15px;
        width: 445px;
    }
    .fitness-get{
       width:30%;
       min-height:200px;
      
       background: none;
       padding-left: 50px;
    }
    .fitness-get h1{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 30px;
        background: none;
        margin-right: 20px;
    }
    .fitness-get p{
        color: #FFFFFF80;
        background: none;
        font-size: 23px;
        font-weight: 400;
        margin-top: 15px;
    }
    .fitness-start{
        width:30%;
       min-height:200px;
       background: none;
       padding-left: 50px;
    }
    .fitness-start h1{
        color: #FFFFFF;
        font-weight: 700;
        font-size: 30px;
        background: none;
    }
    .fitness-start p{
        color: #FFFFFF80;
        background: none;
        font-size: 23px;
        font-weight: 400;
        margin-top: 15px;
    }
    hr{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
    #end{
       max-width: 100%;
       color: #FFFFFF80;
       margin-top: 23px;
       background: none;
       font-size: 20px;
       font-weight: 400;
       text-align: center;
       margin-bottom: 2%;
    }

@media screen and (max-width:576px){
    .span{
        font-size: 70px;
    }
    body{
        background-color: black;
    }
    .nav-options{
        display: none;
       
    }
    .hum-bar  {
        display: block;
    }
    .hum-bar i{
        font-size: 26px;
    }
    h3{
       font-size: 26px;
    }
    .container, .met-our-team{
        width: 90%;
        margin: 2rem auto;
    }
    p{
        font-size: 16px;
    }
    .first-section{
        border: 2px solid black;
        width: 100%;
        /* height: 1024px; */
}
.second-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.Join-btn{
    font-size: 18px;
}
.title-part{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-right: 0;
 }
.title-part h1{
    position: static;
width: 285px;
height: 129px;
    font-size: 36px;
    line-height: 120%;
}
.title-part p{
    width: 274px;
   height: 96px;
   margin: 0;
    margin-top: 1rem;
    padding: 1rem 0;
  font-size: 16px;

}
.img-part{
    width: 100%;
   margin-right: 0;
}
.btn-section{
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 1rem;
}
.btn-primary{
    width: 155.74px;
    height: 72.58px;
    margin-left: -3px;
    margin-top: -320px;
}
.btn-no{
    font-size: 18.14px;
   }
   #under-p{
    font-size: 12.1px;
   }
   #color{
    width: 30.24px;
   height: 30.24px;
   }
   .btn-primary-two{
    width: 145.91px;
    height: 74.09px;
    /* margin-left: -130px;
    margin-top: 60px; */
    margin-left: -40%;
    margin-top:12% ;
    font-size: 30.24px;
   }
   .btn-primary-two p{
    font-size: 9.83px;
   }
   /* second-section styles */
        .second-section{
            border: 1px solid black;
            width: 100%;
            height: 1394px;
        }
   .card-container{
    flex-direction: column;
    min-height: 1330px;
   }
  .img-card{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 3rem;
  }
  .card-title{
   align-items: start;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -60px;
    /* border: 3px solid yellowgreen; */
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
   
  }
  .card-title h2{
    max-width: 318px;
    font-size: 32px;
}
.card-title p{
     font-size: 14px;
     margin-left: 10px;
    width: 316px;
   height: 72px;
   margin-top: 1px;
text-align: center;
     
}
/* third-section-responsive */
 .third-section{
    width: 100%;
    height: 640px;
 }
 #img-none-one{
    display: none;
    
 }
 #img-none{
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 18px;
 }
 .run-extra{
    /* border: none; */
    gap: 2rem;
    margin: 2rem auto;
   /* margin-top: 2rem;
   margin-bottom: 2rem; */
   width: 90%;
   height: 600px;
    flex-direction: column;
    align-items: center;
 }
 .run-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width:90%;
 }
 .img-container{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90%;
 }
 .run-container h1{
    font-size: 32px;
 }
 .run-container p{
    font-size: 14px;
 }
 .run-container-btn{
    width: 285px;
   height: 54px;
   font-size: 18px;
 }

 /* challenge-section-esponsive */
 .challenge-section{
    border: 2px solid black;
    width: 100%;
    height: 1130px;
}
.challenge-container{
flex-direction: column;
height: 1150px;
}
.challenge-card{
grid-template-columns: repeat(1, 1fr);
justify-content: center;
gap: 2rem;
}
.challenge-card-title{
width: 90%;
margin-left: auto;
margin-right: auto;
text-align: center;

}
.challenge-card-title h2{
width: 100%;
font-size: 32px;
}
.challenge-card-title p{
font-size: 14px;
margin-left: 15px;
width: 90%;
height: 72px;
margin-top: 1px;
text-align: center;

}
.challenge-card img{
        width: 80%;
        height: 230px;
}
.challenge-card p{
    font-size: 14px;
}

 /* four-section-responsive */
 .four-section{
    width: 100%;
 }
 .bmi-container{
    margin: 2rem auto;
    width: 90%;
    height: 650px;
     flex-direction: column;
     align-items: center;
    flex-direction: column;
 }
 .calculator{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    width: 90%;
    height: 124px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 10px;
 }
 .calculator p{
    margin-top: 15px;
    width: 80%;
    font-size: 14px;

 }
 .calculator h1{
    font-size: 32px;
 }
 .BMI-calculator{
   width: 100%;
   margin-top: 50px;
   margin-bottom: 0;
 }
 .bmi-table{
    width: 100%;
    flex-direction: column;
     align-items: center;
 }
 .bmi-table h1{
    font-size: 16px;
 }
 table{
    margin-top: 20px;
 }
 td{
    font-size: 14px;
 }
 th{
     font-size: 14px;
 }
 .Bmi-form{
   margin-top: 40px;
     width: 100%;
     height: 380px;
     flex-direction: column;
     align-items: center;
 }
 input{
    width: 49%;
    /* width: 165px; */
     height: 48px;
}
select{
    width: 49%;
    height: 48px;
    margin-top: 12px;
    font-size: 14px;
}
.select{
    width:100%;
    margin-top: 12px;
    
}
.calculate-btn{
    font-size: 16px;
    width: 210px;
   height: 50px;


}
.Bmi-form h1{
    font-size: 16px;
}
.Bmi-form p{
    font-size: 14px;
    margin-top: 14px;
}

/* five-section-responsive */
.our-team{
    max-width:100%;
  }
  .team-tittle{
    max-width: 90%;
    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .team-tittle h1{
    font-size: 29px;
  }
  .team-tittle p{
    font-size: 12px;
    margin-left: 10%;
    text-align: center;
    width: 80%;
    height: 48px;
    margin-top: 10px;
  }
 
  .team-image{
    max-width: 86%;
    height: 1300px;
    display: grid;
    grid-template-columns:repeat(1,1fr);
     padding-left: 5%;
    /* padding-top: 20px; */
    /* margin-top: 37px; */
  }
  .team-image-1 {
    display: none;
    width: 90%;
    height: 290px;
  
  }
  .team-image-2 {
    width: 95%;
    height: 290px;
  }
  .team-image-2 h1{
    margin-top: 225px;
  }
  .team-image-3{
    width: 95%;
    height: 290px;
  }
  .team-image-3 h1{
    margin-top: 225px;
  }
  .team-image-4{
    width: 95%;
    height: 290px;
    display: none;
  }
  .team-image-4 h1{
    margin-top: 225px;
  }
  .team-image-5 {
    width: 95%;
    height: 290px;
  }
  .team-image-5 h1{
    margin-top: 225px;
  }
  
  .team-image-6 {
    width: 95%;
    height: 290px;
  }
  .team-image-6 h1{
    margin-top: 225px;
  }

  /* last-section-responsive */
  .last-section{
    width: 100%;
    margin: 0;
  }
  .fitness{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
 }
 .fitness-tittle{
    width: 90%;
    padding-left: 0; 
 }

 .fitness-tittle h1{
    margin-top: 10px;
 }
 .fitness-tittle p{
    width: 317px;
    font-size: 10px;
 }
 .fitness-get{
    margin-top: 0;
    width: 95%;
    padding-left: 0;  
 }
 .fitness-get p{
    font-size: 14px;
 }
 .fitness-get h1{
    margin-bottom: 40px;
 }
 .fitness-start{
    width: 95%;
    padding-left: 0;
 }
 .fitness-start p{
    font-size: 14px;
 }
 .fitness-start h1{
    margin-bottom: 40px;
 }
 hr{
    width: 90%;
    margin-top: 10%;
 }
 #end{
    font-size: 14px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 8%;
 }
}

