@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

body{
    font-family: "Inter", sans-serif;
}
span{
    font-family: 'Miama', sans-serif;
    color: rgb(255, 255, 255);
       font-size: 90px;
       font-weight: 400;
       background: none;
}

*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    
}

.first-section{
    margin: 0 auto;
      border: 2px solid black;
      max-width: 1440px;
      height: 770px;
      background-image: linear-gradient(to bottom, #13090f, #171418, #1a1b1f, #1f2225, #26292a, #262929, #272829, #272828, #202121, #191a1a, #111313, #060a0a);
}
.container{
    /* border: 2px solid white; */
    width: 80%;
    margin: 5rem auto;
    color: aliceblue;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 10px;
   gap: 3rem;
}
p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
}
h3{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 36px;
font-weight: 800;
}
.btn{
    background-color: rgb(230, 83, 60);
    color: white;
    border: none;
    border-radius: 2.9rem;
    width: 92px;
    height: 37px;
    font-size: 18px;
    font-weight: 600;
}
.hum-bar{
    color: white;
    display: none;
}
/* second-container-style */
.second-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.title-part{
   width: 620px;
   height: 430px;
}
.title-part h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 4.9rem;
font-weight: 900;
}
em{
    font-weight: 200;
}
.title-part p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
padding: 1.5rem 0;
margin: auto;
}
.btn-section{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.Join-btn{
    border: none;
    color: white;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
position: static;
width: 200px;
height: 50px;
    
}
#input{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(26, 25, 25);
}


.img-part{
    width: 350px;
    height: 580px;

}
.img-part img{
    width: 100%;
    height: 100%;
}
.second-container img{
    width: 100%;
    height: 100%;
}
.btn-primary{
    position: absolute;
  width: 208px;
  height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    color: white;
    font-size: 2rem;
   position: absolute;
   margin-left: -120px;
   margin-top: -165px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}
.btn-no{
    width: 68px;
height: 24px;
color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;
margin-right: 30px;
}
#under-p{
    width: 108px;
    height: 24px;
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
#color{
    border: 2px solid orangered;
    background-color:  rgb(230, 83, 60);
    width: 40px;
height: 40px;
border-radius: 3rem;
}
.btn-primary-two{
    width: 193px;
  height: 98px;
    box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5rem;
font-weight: 900;
position: absolute;
margin-left: -120px;
margin-top: 130px;
}
.btn-primary-two p{
    color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 13px;
font-weight: 400;
}
/* second-section-styles */
.second-section{
    margin:0 auto;
    border: 2px solid black;
    background-color: #060a0a;
    max-width: 1440px;
    height: 550px;
    
}

  .card-container{
    /* border: 2px solid burlywood; */
   height: 420px;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 100px;
  }
  .card-title{
   margin-bottom: 58px;
  }
.card-title h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
.card-title p{
    /* border: 2px solid purple; */
    width: 671px;
height: 48px;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
margin-left: 250px;
margin-top: 14px;
}
.img-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.img-card img{
    border-radius: 10rem;
}
.img-card h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top: 10px;
}
#img-p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top:2px ;
}
/* third-section style */

.third-section{
    width: 1440px;
    height: 571px;
    margin: 0 auto;
    border: 2px solid black;
    background: black;
}
.run-extra{
    /* border:2px solid sandybrown ; */
    width: 776px;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.run-extra{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 90px auto;
      width: 1060px;
      height: 400px;
}
.run-container{
    /* margin: 50px ; */
    /* border: 2px solid white; */
    width: 460px;
   height: 300px;
}
.run-container h1{
    color: white;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
}
.run-container p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.run-container-btn{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
   font-family: Inter;
    font-size: 18px;
   font-weight: 600;
   margin-top: 30px;
   border: none;
}
.img-container{
    width: 366px;
    height: 312px;
}
.img-container img{
    border-radius: 1.1rem;
    width: 100%;
    height: 100%;
    
}
#img-none{
    display: none;
}

/* four-section-styles */
    .four-section{
        margin:0 auto;
    border: 2px solid black;
    background-color: #060a0a;
    max-width: 1440px;
    height: 700px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }
    .calculator{
        /* border: 2px solid white; */
        /* text-align: center; */
        height: 120px;
        width: 650px;
    }
    .calculator h1{
        color: rgb(255, 255, 255);
     font-family: Inter;
      font-size: 48px;
      font-weight: 900;
    }
    .calculator p{
        color: rgba(255, 255, 255, 0.5);
       font-family: Inter;
         font-size: 14px;
        font-weight: 400;
    }
    .BMI-calculator{
        margin-top: 80px;
        width: 1440px;
           height: 487px;
           background: rgb(34, 34, 34);
    }
    .bmi-container{
        margin: 52px auto;
        width: 1060px;
        height: 386px;
        /* border: 1px solid white; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bmi-table{
        width: 577px;
        height: 386px;
    }
    .Bmi-form{
        width: 577px;
        height: 386px;
        margin: 10px auto;
        /* border: 1px solid yellow; */
    }
    .bmi-table h1{
        color: rgb(255, 255, 255);
       font-family: Inter;
        font-size: 28px;
       font-weight: 900;

    }
    table{
        border-collapse: collapse;
        width: 310px;
      height: 216px;
      margin-top: 52px;
       }
        td{
            border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 5px;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
         font-size: 14px;
         text-align: center;
        
        }
        th{
            border: 1px solid rgba(255, 255, 255, 0.1);
           padding: 10px;
           color: rgb(255, 255, 255);
             font-family: Inter;
             font-size: 16px;
             font-weight: 500;
        }
        input{
            width: 250px;
             height: 48px;
             border-radius: 8px;
             background: rgba(255, 255, 255, 0.1);
             border: none;
             padding: 12px 40px 12px 20px;
        }
        .one-input{
            margin-top: 30px;
        }
        .two-input{
            margin-top: 10px;
        }
        .Bmi-form h1{
            color: rgb(255, 255, 255);
            font-family: Inter;
            font-size: 28px;
            font-weight: 900;
        }
        .Bmi-form p{
            color: rgba(255, 255, 255, 0.5);
             font-family: Inter;
          font-size: 14px;
            font-weight: 400;
            margin-top: 14px;
        }
        select{
            width: 250px;
            height: 48px;
            margin-top: 12px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.6);
          font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        border: none;
        padding: 12px 40px 12px 20px;
        }
        .select{
            width: 510px;
            margin-top: 12px;
            
        }

@media screen and (max-width:576px){
    body{
        background-color: black;
    }
    .nav-options{
        display: none;
       
    }
    .hum-bar  {
        display: block;
    }
    .hum-bar i{
        font-size: 26px;
    }
    h3{
       font-size: 26px;
    }
    .container{
        width: 90%;
        margin: 2rem auto;
    }
    p{
        font-size: 16px;
    }
    .first-section{
        border: 2px solid black;
        width: 100%;
        height: 1024px;
}
.second-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.Join-btn{
    font-size: 18px;
}
.title-part{
    width: 100%;
    height: 100%;
    margin: 0;
 }
.title-part h1{
    position: static;
width: 285px;
height: 129px;
    font-size: 36px;
    line-height: 120%;
}
.title-part p{
    width: 274px;
   height: 96px;
    margin: 0;
    padding: 1rem 0;
  font-size: 16px;

}
.img-part{
    width: 100%;
}
.btn-section{
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.btn-primary{
    width: 155.74px;
    height: 72.58px;
    margin-left: -3px;
    margin-top: -320px;
}
.btn-no{
    font-size: 18.14px;
   }
   #under-p{
    font-size: 12.1px;
   }
   #color{
    width: 30.24px;
   height: 30.24px;
   }
   .btn-primary-two{
    width: 145.91px;
    height: 74.09px;
    margin-left: -130px;
    margin-top: 60px;
    font-size: 30.24px;
   }
   .btn-primary-two p{
    font-size: 9.83px;
   }
   /* second-section styles */
        .second-section{
            border: 1px solid black;
            width: 100%;
            height: 1394px;
        }
   .card-container{
    flex-direction: column;
   }
  .img-card{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 50px;
  }
  .card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -35px;
    border: 3px solid black;
  }
  .card-title h2{
    width: 318px;
    font-size: 32px;
}
.card-title p{
     font-size: 14px;
     margin-left: 10px;
     position: static;
  width: 316px;
   height: 72px;
     
}
/* third-section-responsive */
 .third-section{
    width: 100%;
    height: 100%;
 }
 #img-none-one{
    display: none;
    
 }
 #img-none{
    display: block;
    width: 287px;
    border-radius: 18px;
 }
 .run-extra{
    /* border: none; */
    gap: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   width: 340px;
height: 530px;
    flex-direction: column;
    align-items: center;
 }
 .run-container{
    margin-top: 30px;
    width:287px ;
 }
 .img-container{
    margin-bottom: 30px;
    width: 287px;
 }
 .run-container h1{
    font-size: 32px;
 }
 .run-container p{
    font-size: 14px;
 }
 .run-container-btn{
    width: 285px;
   height: 54px;
   font-size: 18px;
 }
 /* four-section-responsive */
 .four-section{
    width: 100%;
   height: 800px;
 }
 .bmi-container{
    width: 353px;
    height: 630px;
     flex-direction: column;
     align-items: center;
    flex-direction: column;
    
 }
 .calculator{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    width: 353px;
    height: 124px;
 }
 .calculator p{
    font-size: 14px;

 }
 .calculator h1{
    font-size: 32px;
 }
 .BMI-calculator{
   width: 100%;
   height:770px;
   margin-top: 50px;
 }
 .bmi-table{
    width: 353px;

     flex-direction: column;
     align-items: center;
 }
 .bmi-table h1{
    font-size: 16px;
 }
 table{
    margin-top: 20px;
 }
 td{
    font-size: 14px;
 }
 th{
     font-size: 14px;
 }
 .Bmi-form{
   margin-top: 40px;
     width: 353px;
     height: 380px;
     flex-direction: column;
     align-items: center;
 }
 input{
    width: 165px;
     height: 48px;
}
select{
    width: 165px;
    height: 48px;
    margin-top: 12px;
    font-size: 14px;
}
.select{
    width: 330px;
    margin-top: 12px;
    
}
.calculate-btn{
    font-size: 16px;
    width: 210px;
   height: 50px;


}
.Bmi-form h1{
    font-size: 16px;
}
.Bmi-form p{
    font-size: 14px;
    margin-top: 14px;
}
}

